    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    }

    ::-webkit-scrollbar {
        width: 8px !important;
    }
    ::-webkit-scrollbar-track {
        background: transparent !important;
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(0,0,0,0.25) !important;
        border-radius: 20px !important;
    }
    ::-webkit-scrollbar-thumb:hover {
        backdrop-filter: blur(10px) !important;
    }

    .container{width: 95%; margin: auto;}


    .link:hover{
        color: #ff5252;
    }

    .MuiBadge-badge{
        font-size: 0.7rem;
        background-color: #9C27B0 !important;
    }

    nav ul button{text-transform: capitalize !important;}

    nav ul button:hover {background: none !important}

   /* ===== Swiper Navigation Buttons ===== */

.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
  opacity: 0;
  transition: all 0.3s ease !important;
  width: 25px !important;
  height: 25px !important;
  background: #fff !important;
  border-radius: 50% !important;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15) !important;
  color: #000 !important;
}

.mySwiper:hover .swiper-button-prev,
.mySwiper:hover .swiper-button-next {
  opacity: 1;
}

.mySwiper .swiper-button-prev::after,
.mySwiper .swiper-button-next::after {
  font-size: 18px !important;
  font-weight: 700 !important;
}

.mySwiper .swiper-button-prev {
  left: 20px !important;
}

.mySwiper .swiper-button-next {
  right: 20px !important;
}